.navbar-top.fixed {
  position: fixed;
  z-index: 10;
}

.spacer {
  flex: 1 1 auto;
}

@media (min-width: 320px) {
  .navbar-top.fixed {
    .large-screen {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .navbar-top.fixed {
    .large-screen {
      display: block;
    }

    .small-screen {
      display: none;
    }
  }
}
